<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="img/network.png">
  <title>StudentSync</title>
</head>
<body>
  <div id="app" class="grid">
    <nav>
      <header>
        StudentSync
      </header>
      <div class="user">Matthias Willemsen</div>
      <article id="objects">
      <div class="section">Files</div>
      <ul>
        <li><i class="material-icons">insert_drive_file</i> All documents</li>
        <li><i class="material-icons">insert_drive_file</i> Your documents</li>
      </ul>
      <div class="section">Personel channels</div>
      <ul>
        <li v-for="person in people" v-on:click="showPrivateChat(person)"><i class="material-icons">person_outline</i> {{ person.name.first }} {{ person.name.last }}</li>
      </ul>
      <div class="section">Workspaces</div>
      <ul>
        <li v-for="workspace in workspaces" v-on:click="showWorkspace(workspace)"><i class="material-icons">group</i> {{ workspace.name }}</li>
      </ul>
      <div class="section">Labels</div>
      <ul>
        <li><i style="color: #C96967;" class="material-icons">donut_large</i> Professional</li>
        <li><i style="color: #EEAE5F;" class="material-icons">donut_large</i> Personal</li>
        <li><i style="color: #81DEA1;" class="material-icons">donut_large</i> Entertainment</li>
      </ul>
      </article>
    </nav>
    <main>
      <!--<section id="allDoc">
        <header>
          <div class="search">
            <p>Look for documents by tag or name:</p>
            <div></div>
            <input type="text" placeholder="Type...">
          </div>
        </header>
        <ul>
          <li>
            <span><img src="img/network.svg" alt="Network"></span>
            <span><i style="color: #C96967;" class="material-icons">donut_large</i></span>
            <span>Object oriënted programming: Labo 1</span>
            <span><span class="tag">Matthias</span></span>
            <span><i class="material-icons">close</i></span>
          </li>
          <li>
            <span><img src="img/network.svg" alt="Network"></span>
            <span><i style="color: #C96967;" class="material-icons">donut_large</i></span>
            <span>Object oriënted programming: Labo 1</span>
            <span><span class="tag">Matthias</span></span>
            <span><i class="material-icons">close</i></span>
          </li>
          <li>
            <span><img src="img/network.svg" alt="Network"></span>
            <span><i style="color: #C96967;" class="material-icons">donut_large</i></span>
            <span>Object oriënted programming: Labo 1</span>
            <span><span class="tag">Matthias</span></span>
            <span><i class="material-icons">close</i></span>
          </li>
        </ul>
      </section>-->
      <section v-if="page == 'workspace'" class="groupchat">
        <header>
          <p>{{ active.workspace.name }}</p>
          <div>
            <i class="material-icons">info_outline</i>
            <i class="material-icons">settings</i>
            <i class="material-icons">more_vert</i>
          </div>
        </header>
        <ul class="chat">
          <li>
            <img src="img/network.svg" alt="Network">
            <div class="content">
              <p class="person">Matthias Willemsen</p>
              <span class="time">18:20</span>
              <p class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex maiores omnis perferendis qui, ratione repellendus sint sit veritatis voluptate? Blanditiis fuga illo laudantium minima possimus quia sit, temporibus veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur dolores enim eos fugiat inventore, laboriosam, laudantium minima natus nostrum obcaecati quas reiciendis, rerum voluptas voluptatem? Ex nam nihil tempora?</p>
            </div>
          </li>
          <li>
            <img src="img/network.svg" alt="Network">
            <div class="content">
              <p class="person">Matthias Willemsen</p>
              <span class="time">18:22</span>
              <p class="msg">Lorem ipsum dolor sit amet.</p>
            </div>
          </li>
          <li>
            <img src="img/network.svg" alt="Network">
            <div class="content">
              <p class="person">Matthias Willemsen</p>
              <span class="time">18:28</span>
              <p class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex maiores omnis perferendis qui, ratione repellendus sint sit veritatis voluptate? Blanditiis fuga illo laudantium minima possimus quia sit, temporibus veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur dolores enim eos fugiat inventore, laboriosam, laudantium minima natus nostrum obcaecati quas reiciendis, rerum voluptas voluptatem? Ex nam nihil tempora?</p>
            </div>
          </li>
        </ul>
        <div class="control">
          <i class="material-icons">add</i>
          <input type="text" placeholder="Type message ...">
        </div>
      </section>
      <!--<section id="Otherchat">
        <header>
          <div class="ChatTop">
            <p id="name">Name</p>
            <div>
              <i class="material-icons">info_outline</i>
              <i class="material-icons">settings</i>
              <i class="material-icons">more_vert</i>
            </div>
          </div>
        </header>
        <ul class="MsgArea">
          <li>
            <img src="img/network.svg" alt="Network">
            <div>
              <div>
                <p><b>Jonas Van Hoof</b></p>
                <p>18:20</p>
              </div>
              <p class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex maiores omnis perferendis qui, ratione repellendus sint sit veritatis voluptate? Blanditiis fuga illo laudantium minima possimus quia sit, temporibus veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur dolores enim eos fugiat inventore, laboriosam, laudantium minima natus nostrum obcaecati quas reiciendis, rerum voluptas voluptatem? Ex nam nihil tempora?</p>
            </div>
          </li>
          <li>
          <img src="img/network.svg" alt="Network">
          <div>
            <div>
              <p><b>Michiel Meurs</b></p>
              <p>18:21</p>
            </div>
            <p class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex maiores omnis perferendis qui, ratione repellendus sint sit veritatis voluptate? Blanditiis fuga illo laudantium minima possimus quia sit, temporibus veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem consectetur dolores enim eos fugiat inventore, laboriosam, laudantium minima natus nostrum obcaecati quas reiciendis, rerum voluptas voluptatem? Ex nam nihil tempora?</p>
          </div>
        </li>
        </ul>
        <div class="AnswerMsg">
          <button><i class="material-icons">add</i></button>
          <input type="text" placeholder="Type message ...">
        </div>
      </section>-->
    </main>
    <aside>
      <div class="top">Recent <i class="material-icons">arrow_drop_down</i></div>
      <article class="activity">
        <div>
          <i class="material-icons">insert_drive_file</i>
          Document
        </div>
        <div>
          <i class="material-icons">share</i>
          Document
        </div>
        <div>
          <i class="material-icons">report</i>
          Document
        </div>
      </article>
    </aside>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/db.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
