@import "reset";

body {
  font-family: Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid: minmax(100vh, auto) / 300px auto;
  nav {
    background: #43494F;
    header {
      $height: 80px;
      height: $height;
      line-height: $height;
      text-align: center;
      background: white;
      color: #377EE4;
      font-weight: bold;
      font-size: 1.5em;
    }
    .user {
      $height: 64px;
      height: $height;
      line-height: $height;
      padding: 0 24px;
      color: #C7D0DA;
      text-align: left;
      background: #3C4145;
    }
    .section {
      padding: 24px 0 0 36px;
      color: #CCD1D8;
      text-transform: uppercase;
      font-size: .75em;
      font-weight: bolder;
    }
    ul{
      padding: 12px 0;
      li {
        $height: 40px;
        height: $height;
        line-height: $height;
        color: #CCD1D8;
        vertical-align: middle;
        &:hover {
          background: #4B525B;
          cursor: pointer;
        }
        i {
          vertical-align: top;
          line-height: $height;
          margin: 0 12px 0 32px;
          color: #586069;
        }
      }
    }
  }
  main {
    display: grid;
    grid: minmax(100vh, auto) / auto 250px;
    #allDoc{

    }
    #groupchat{
      display: none;
    }
    #Otherchat{
      display: none;
    }
    .search{
      text-align: right;
      padding-top: 25px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      height:64px;
      p{
        line-height: 25px;
        padding-left: 20px;
        padding-right: 10px;
      }
      input{
        line-height: 25px;
        width: 300px;
        float: left;
        height: 30px ;
        cursor: text;
      }
    }
    .ChatTop{
      height: 64px;
      text-align: left;
      display: grid;
      grid-template-columns: 1fr 180px;
      border-bottom: 0.5px solid darkgrey;
      p{
        padding-left: 20px;
        line-height: 64px;
      }
      div{
        display: grid;
        grid-template-columns: repeat(3,60px);
        button{
          height: 64px;
          background: transparent;
          border: transparent;
          line-height: 64px;
          i{
            cursor: pointer;
            line-height: 64px;
          }
        }
      }
    }
    .MsgArea {
      overflow-y: scroll;
      display: grid;
      grid-template-rows: 1fr;
      grid-auto-columns: 1fr;
      height: calc(100vh - 275px);
      li{
        display: grid;
        grid-template-columns: 50px 1fr;
        height: 105px;
        img{
          height:30px;
          padding-top: 5px;
        }
        div{
          height: 30px;
          div{
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
        .msg{
          height: 70px;
          overflow-y: scroll;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
    .AnswerMsg{
      display: grid;
      grid-template-columns: 50px auto;
      padding: 0 20px;
      i{
        line-height: 50px;
        border: 0.5px solid darkgrey;
        text-align: center;
        border-right: none;
      }
      input{
        padding-right: 20px;
      }
    }

    section {
      header {
        $height: 80px;
        height: $height;
        line-height: $height;
        background: #3D8ADA;
      }
      ul {
        margin: 40px 0 0 0;
        li {
          display: grid;
          grid: auto / 48px 48px auto 200px 48px;
          $height: 64px;
          padding: 0 20px;
          height: $height;
          &:hover {
            background: #F3F6F9;
            cursor: pointer;
          }
          span {
            &:first-child {
              padding: 20px 12px;
            }
            &:nth-child(2) {
              line-height: $height;
              text-align: center;
              i {
                vertical-align: top;
                line-height: $height;
              }
            }
            &:nth-child(3) {
              line-height: $height;
              padding: 0 20px
            }
            &:nth-child(4) {
              text-align: right;
              line-height: $height;
              padding: 0 20px;
              .tag {
                display: inline-block;
                border: 1px solid #E2E7EC;
                border-radius: 5px;
                height: 24px;
                line-height: 0;
                font-size: .75em;
              }
            }
            &:nth-child(5) {
              line-height: $height;
              text-align: center;
              i {
                vertical-align: top;
                line-height: $height;
              }
            }
          }
        }
      }
    }
    aside {
      background: #EBF0F6;
      div{
        display: grid;
        grid-template-columns: 4fr 1fr;
        text-align: left;
        padding-left: 15px;
        height: 50px;
        line-height: 50px;
        i{
          line-height: 50px ;
        }
      }
      #activity{
        overflow-y: scroll;
        height: calc(100vh - 50px);
        display: grid;
        border-bottom: 0.5px solid black;
        grid-template-columns: 1fr;
        grid-auto-rows: 60px;
        div{
          text-align: left;
          display: grid;
          grid-template-rows: 2fr 1fr;
          grid-auto-columns: 1fr;
          &:hover{
            background: white;
            cursor: pointer;
          }
          p{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
