@import "reset";

body {
  font-family: Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid: minmax(100vh, auto) / 300px auto;
  nav {
    background: #43494F;
    header {
      $height: 80px;
      height: $height;
      line-height: $height;
      text-align: center;
      background: white;
      color: #377EE4;
      font-weight: bold;
      font-size: 1.5em;
    }
    .user {
      $height: 64px;
      height: $height;
      line-height: $height;
      padding: 0 24px;
      color: #C7D0DA;
      text-align: left;
      background: #3C4145;
    }
    .section {
      padding: 24px 0 0 36px;
      color: #CCD1D8;
      text-transform: uppercase;
      font-size: .75em;
      font-weight: bolder;
    }
    ul{
      padding: 12px 0;
      li {
        $height: 40px;
        height: $height;
        line-height: $height;
        color: #CCD1D8;
        vertical-align: middle;
        &:hover {
          background: #4B525B;
          cursor: pointer;
        }
        i {
          vertical-align: top;
          line-height: $height;
          margin: 0 12px 0 32px;
          color: #586069;
        }
      }
    }
  }
  main {
    display: grid;
    grid: minmax(100vh, auto) / auto 250px;
    section {
      header {
        $height: 80px;
        height: $height;
        line-height: $height;
        background: #3D8ADA;
      }
      ul {
        margin: 40px 0 0 0;
        li {
          display: grid;
          grid: auto / 48px 48px auto 200px 48px;
          $height: 64px;
          padding: 0 20px;
          height: $height;
          &:hover {
            background: #F3F6F9;
            cursor: pointer;
          }
          span {
            &:first-child {
              padding: 20px 12px;
            }
            &:nth-child(2) {
              line-height: $height;
              text-align: center;
              i {
                vertical-align: top;
                line-height: $height;
              }
            }
            &:nth-child(3) {
              line-height: $height;
              padding: 0 20px
            }
            &:nth-child(4) {
              text-align: right;
              line-height: $height;
              padding: 0 20px;
              .tag {
                display: inline-block;
                border: 1px solid #E2E7EC;
                border-radius: 5px;
                height: 24px;
                line-height: 0;
                font-size: .75em;
              }
            }
            &:nth-child(5) {
              line-height: $height;
              text-align: center;
              i {
                vertical-align: top;
                line-height: $height;
              }
            }
          }
        }
      }
    }
    aside {
      background: #EBF0F6;
    }
  }
}